---
// import BaseHead from '@components/BaseHead.astro';
// import Header from '@components/Header.astro';
// import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
// import { getCollection } from 'astro:content';
import Main from '@layouts/Main.astro';
// import FormattedDate from '@components/FormattedDate.astro';

// const posts = (await getCollection('handbook')).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
---
<Main title="test" description='test' headings={[]}>
	Nothing here yet.
</Main>